{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Movie Review</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}">

    </head>

    <body>

        <main>
            <nav class="navbar navbar-dark bg-dark">
                  <div class="container-fluid justify-content-center">
            <nav class="navbar navbar-expand-lg">
                <div class="container" style="margin-top:0px;">
                    <a class="navbar-brand" href="">
                        ---->
                    </a>

                    <a href="/signup" class="btn custom-btn d-lg-none ms-auto me-4">REGISTER</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav" style="color:black;">
                        <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_1">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_2">ABOUT</a>
                            </li>
                        </ul>

                        <a href="signup" class="btn custom-btn d-lg-block d-none">REGISTER</a>&nbsp;&nbsp;
                        <a href="signin" class="btn custom-btn d-lg-block d-none">LOGIN</a>

                    </div>
                </div>
            </nav>
<!--             </nav>-->


            <section class="hero-section" id="section_1">
                <div class="section-overlay"></div>

                <div class="container d-flex justify-content-center align-items-center">
                    <div class="row">

                        <div class="col-12 mt-auto mb-5 text-center">


                            <h1 class="text-blue mb-5" style="margin-top:200px;">WELCOME TO MOVIE REVIEW</h1>
                        </div>
                    </div>
                </div>
            </section>


            <section class="about-section section-padding" id="section_2">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12 mb-4 mb-lg-0 d-flex align-items-center">
                            <div class="services-info">
                                <h2 class="text-white mb-4">About Movie Review</h2>

                                <p class="text-white">Movie Review is a movie website where you can add your favourite movies to your list and rate it according to your review</p>

                                <h6 class="text-white mt-4">Once in Lifetime Experience</h6>

                                <h6 class="text-white mt-4">Movie magic</h6>

                                <p class="text-white">Please tell your friends about our website. Thank you.</p>
                            </div>
                        </div>


                        <div class="col-lg-6 col-12">
                        <div class="about-text-wrap">
                        <img src="{% static 'images/mr.jpg' %}" class="about-image img-fluid">
                        </div>
                        </div>

                    </div>
                </div>
            </section>



        </main>


         <footer class="site-footer">
            <div class="site-footer-top">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                        <h5 class="site-footer-title mb-3">Have a question?</h5>
                        <p class="text-white d-flex mb-1">
                            <a href="tel: 090-080-0760" class="site-footer-link">
                                090-080-0760
                            </a>
                        </p>

                        <p class="text-white d-flex">
                            <a href="mailto:hello@company.com" class="site-footer-link">
                                akshay@company.com
                            </a>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 col-11 mb-4 mb-lg-0 mb-md-0">
                        <h5 class="site-footer-title mb-3">Location</h5>

                        <p class="text-blue d-flex mt-3 mb-2">
                          KANNUR,KERALA, INDIA</p>
                    </div>
                </div>
            </div>

            <div class="site-footer-bottom">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-12 mt-5">
                            <p class="copyright-text">Copyright © 2050 Movie Review</p>
                        </div>

                        <div class="col-lg-8 col-12 mt-lg-5">
                            <ul class="site-footer-links">
                                <li class="site-footer-link-item">
                                    <a href="#" class="site-footer-link">Terms &amp; Conditions</a>
                                </li>

                                <li class="site-footer-link-item">
                                    <a href="#" class="site-footer-link">Privacy Policy</a>
                                </li>

                                <li class="site-footer-link-item">
                                    <a href="#" class="site-footer-link">Your Feedback</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
         </footer>

    </body>

</html>